@media print
  // Typography
  .is-size-1
    font-size: 33pt !important
  .is-size-2
    font-size: 27.5pt !important
  .is-size-3
    font-size: 22pt !important
  .is-size-4
    font-size: 16.5pt !important
  .is-size-5
    font-size: 14pt !important
  .is-size-6
    font-size: 11pt !important
  .is-size-7
    font-size: 8.5pt !important

  // Visibility

  .is-hidden-print
    display: none !important
  .is-invisible-print
    visibility: hidden !important
  .is-break-before
    break-before: always
  .is-break-after
    break-after: always
  .is-break-avoid
    break-inside: avoid

  @page 
    margin: 1cm
